---
import { AstroFont } from 'astro-font';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import Posti from '../components/Posti.astro';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Tap System</title>
		<AstroFont
			config={[
				{
					src: [],
					name: "Urbanist",
					preload: true,
					display: "swap",
					selector: "html",
					fallback: "sans-serif",
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
				},
			]}
		/>
	</head>
	<body class="bg-gray-800 dark:bg-gray-900 mt-5">
 		<div class="container mx-auto flex items-center justify-between">
			<img src="../../public/logo.png" alt="Logo Tap System" class="w-24 h-auto">
 		</div>
 	<main class="space-y-30 mb-20">
			<HeroSection/>
			<Features/>
			<Stats/>
			<Posti/>
		</main>
		<Footer/>
	</body>
</html>
