---
import Container from "./Container.astro";
---

<footer class="bg-white dark:bg-gray-900 py-6">
	<Container>
		<div class="flex flex-wrap items-center justify-between">
			<!-- Link footer -->
			<div class="flex space-x-6 text-blue-600 dark:text-blue-300">
				<a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
				<a href="/cookie-policy" class="hover:underline">Cookies</a>
				<a href="/termini-condizioni" class="hover:underline">Termini e Condizioni</a>
			</div>

			<!-- Informazioni aziendali -->
			<div class="text-center text-sm text-gray-500 dark:text-gray-400">
				<span class="block">Partita IVA: 04118930165</span>
				<span class="block">Sede legale: Viale Brianza 6, Milano (MI) 20127</span>
			</div>
		</div>

		<!-- Copyright e Sviluppatore -->
		<div class="text-center mt-4 text-sm text-gray-500 dark:text-gray-400">
			<p>
				Tap System è responsabile dei servizi offerti, del trattamento dei dati del materiale fotografico e dei testi presenti su questo sito web.
			</p>
			<p>
				Sviluppato da <a href="https://code22.servehttp.com" target="_blank" class="text-blue-600 dark:text-blue-300 hover:underline">code22</a> | &copy; {new Date().getFullYear()} Tap System. All Rights Reserved.
			</p>
		</div>
	</Container>
</footer>
