---
import Container from "./Container.astro";
---

<footer class="py-5 md:py-10">
	<Container>
		<div class="m-auto md:w-full lg:w-full xl:w-full">
			<div class="flex flex-wrap items-center justify-between md:flex-nowrap">
				<div class="flex w-full justify-center space-x-12 text-gray-700 dark:text-gray-400 sm:w-full md:justify-start">
					<ul role="list" class="space-y-8">
						<li>
							<a href="https://code22.servehttp.com"
							   class="flex items-center space-x-3 transition hover:text-primary"
							   target="_blank">
								<span>Powered by code22</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="m-auto mt-16 w-full space-y-6 text-center sm:mt-auto sm:w-full sm:text-left flex flex-col sm:flex-row sm:space-y-0 sm:space-x-4">
					<span class="block text-gray-700 dark:text-gray-400">Partita iva: 04118930165</span>
					<span class="block text-gray-700 dark:text-gray-400">Sede legale: Viale Brianza 6, Milano (MI) 20127</span>
				</div>
			</div>
		</div>
	</Container>
</footer>