---
import Container from "./Container.astro"
---
<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative ml-auto">
            <div class="lg:w-3/4 text-center mx-auto">
                <h1 class="mt-20 text-gray-900 dark:text-white font-bold text-6xl md:text-6xl xl:text-8xl">
                    Tap System
                </h1>
                <p class="mt-5 text-2xl text-gray-900 dark:text-white leading-relaxed">
                    Soluzione rapida e professionale per la riparazione e sostituzione delle tapparelle manuali ed elettriche a Milano.
                </p>
                <div
                        class="mt-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 dark:border-gray-700 text-gray-900 dark:text-white lg:divide-y-0 xl:grid-cols-2"
                >
                    <!-- Sezione Chiamata -->
                    <a href="tel:+393513092439" class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-3xl hover:shadow-gray-600/10">
                        <div class="relative flex items-center justify-start gap-4 py-12 p-8 text-center sm:text-left">
                            <img
                                    src="https://cdn-icons-png.flaticon.com/512/17910/17910500.png"
                                    class="w-13 h-13 flex-shrink-0"
                                    width="64"
                                    height="64"
                                    alt="phone illustration"
                            />
                            <div class="text-left max-w-full">
                                <h5 class="text-3xl mb-3 font-semibold text-gray-900 dark:text-white transition group-hover:text-secondary">
                                    Chiamaci
                                </h5>
                                <p class="text-xl text-gray-900 dark:text-white break-words">
                                    +39 351 309 2439
                                </p>
                            </div>
                        </div>
                    </a>

                    <!-- Sezione Email -->
                    <a href="mailto:tapsystemmilano@gmail.com" class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative flex items-center justify-start gap-4 py-12 p-8 text-center sm:text-left">
                            <img
                                    src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
                                    class="w-13 h-13 flex-shrink-0"
                                    width="64"
                                    height="64"
                                    alt="email illustration"
                            />
                            <div class="text-left max-w-full">
                                <h5 class="text-3xl mb-3 font-semibold text-gray-900 dark:text-white transition group-hover:text-secondary">
                                    Email
                                </h5>
                                <p class="text-xl text-gray-900 dark:text-white break-words">
                                    tapsystemmilano@gmail.com
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </Container>
</div>
