---
import Container from "./Container.astro";
---
<style>
    .title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .locations-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin: 0 20px;
     }

    .location-item {
        padding: 16px 24px;
        border-radius: 8px;
        text-align: center;
    }


    /* Responsive */
    @media (max-width: 768px) {
        .locations-container {
            gap: 12px;
        }

        .location-item {
            font-size: 1rem;
            padding: 14px 18px;
        }
    }
</style>

<Container>
    <div class="space-y-10">
        <h2 class="title font-bold text-gray-900 dark:text-white">
            Le nostre sedi di lavoro
        </h2>
        <div class="locations-container">
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl  text-gray-900 dark:text-white ">
                    Milano
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Opera
                </p>
            </div>
            <div class="location-item  border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    San Donato Milanese
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Gessate
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Segrate
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Pioltello
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Gorgonzola
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Agrate Brianza
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Cernusco sul Naviglio
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Brugherio
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Concorezzo
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Vimercate
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Arcore
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white  dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Carugate
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Cassina de' Pecchi
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Monza
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Muggi&#242;
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Sesto San Giovanni
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Lissone
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Bresso
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Cusano Milanino
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Cinisello Balsamo
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Paderno Dugnano
                </p>
            </div>
            <div class="location-item bg-white border border-gray-100 dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Nova Milanese
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Bruzzano
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Milano 2
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white  dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Vimodrone
                </p>
            </div>
            <div class="location-item border border-gray-100 bg-white dark:bg-gray-800">
                <p class="text-xl text-gray-900 dark:text-white">
                    Cologno Monzese
                </p>
            </div>
        </div>
    </div>
</Container>
